html {
  font-family: 'Open sans', sans-serif;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

html, body {
  margin: 0;
  font-size: 16px;
  line-height: 1;
}

body {
  counter-reset: section;
  padding: 0;
}

h1, h2, h3, h4, p {
  margin: 0;
}

h1 {
  font-preset: xl;
  padding-bottom: 2rs;
}

h2 {
  font-preset: l;
  padding-bottom: 1rs;
}


h3 {
  font-preset: m;
  padding-top: 1rs;
  padding-bottom: 1rs;
  color: orangered;
}

h4 {
  font-preset: s;
  padding-top: 1rs;
}

p {
  font-preset: s;
  margin-bottom: 1rs;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

*::-moz-focus-inner {
  border: none;
}

a {
  color: orangered;
}