.button {
  border-radius: 5px;
  background: orangered;
  padding-left: 1rs;
  padding-right: 1rs;
  display: inline-block;
  color: white;
  text-decoration: none;
  transition: all $speed $easing;
  position: relative;

  &:not(.round) {
    padding: 1rs 2rs .5rs 2rs;
    margin-bottom: .5rs;
    font-preset: m;
    font-weight: bold;
    border: 2px solid orangered;

    &:after {
      content: '';
      opacity: 0;
      background-image: url('../images/loading-stripes.gif');
      transform: scaleX(-1);
      position: absolute;
      transition: opacity $speed $easing;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
    }

    &:hover,
    &.active {
      background-color: transparent;
      border-color: orangered;

      &:after {
        opacity: .1;
      }
    }
  }

  &.round {
    border-radius: 40px;
    font-preset: m;
    padding: 1rs 4rs 1.3rs;
    margin-bottom: .8rs;
    font-weight: bold;

    &:hover,
    &.active {
      background-color: white;
      color: orangered;
    }
  }
}