.section {
  margin-top: 9rs;
  margin-bottom: 9rs;
  @include clearfix;
  position: relative;
}

.section:nth-child(odd) {
  .section-content {
    @include grid-span(5, 1);
    clear: both;
  }

  .section-code {
    @include grid-span(5, 8);
  }

  .section-image {
    @include grid-span(5, 8);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
  }
}


.section:nth-child(even) {
  .section-content {
    @include grid-span(5, 8);
    clear: both;
  }

  .section-code {
    @include grid-span(5, 1);
  }

  .section-image {
    @include grid-span(5, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }
}

.section-code {
  margin-top: 7rs;
  overflow: auto;
}

.section.json-presets {
  .section-code {
    height: 56rs;
  }
}

.section.introduction .section-image {
  .baseline-text {
    position: absolute;
    right: 0;
    width: 100%;
    color: orangered;
    top: 24rs;
    text-align: right;
    border-bottom: 2px solid orangered;
  }

  .line-height-text {
    width: 100%;
    position: absolute;
    text-align: right;
    top: 17rs;
    right: 0;
    color: orangered;
    border-bottom: 2px solid orangered;
  }

  .letters {
    margin-top: 12rs;
    font-preset: xxxl;
    transform: translateX(-17px);
    position: relative;
  }
}

.section.helper-visualize .section-image {
  .letters {
    font-preset: l;
    margin-top: 7rs;
  }

  .letters-inner {
    margin-left: -2px;
  }
}

.section.installation .section-image {
  top: 7rs;
  bottom: 0rs;
  background: url('../images/npm-logo.svg') no-repeat left center;
  background-size: contain;
}

.section.helper-visualize-grid .section-image {
  top: 4rs;
  bottom: 1rs;
}

.section.vertical-rhythm .section-image {
  padding-top: 3rs;
}